{% extends 'base.html' %}
{% load static %}
{% load navbar %}
{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}

{% block metatags %}
    <title>MW Forum | Migrate Wisely</title>
    <meta name="description" content="Our forum lets you read immigration stories, ask questions and share your experience!">
    <meta name="keywords" content="forum, migration, stories, share, experience, ask, questions, immigration, wisely">
{% endblock metatags %}


{% block content %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
        <!-- end preloader -->

        {% InnerNavbarTag %}


        <style>
            .page-title .breadcrumb > li + li:before{color:#2b2e3a;}
            
        </style>
        
        <!-- start page-title -->
        <section class="page-title" style="height:130px;background:#97daf7;">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2 style="font-weight:500;font-size:2rem;color:#2b2e3a;">MW Forum</h2>
                        <ol class="breadcrumb">
                            <li class="hvr-underline-from-left"><a href="/" style="color:#2b2e3a;">{% trans "Homepage" %}</a></li>
                            <li style="color:#2b2e3a;">MW Forum</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->

        <!-- start blog-single-section -->
        <section class="blog-single-section blog-single-left-sidebar-section section-padding" style="padding-top:80px;">
            <div class="container">
                <div class="row">
                    <div class="col col-md-9 col-md-push-3">
                        <div class="blog-content">
                            <div class="post format-standard-image" style="width: 100%;display: inline-flex;align-items: baseline;justify-content: space-between;flex-wrap: wrap;flex-direction: row;">
                                <h2 style="font-weight:500;">{% trans "Latest Entries" %}</h2>
                                {% if userGroup.name == "member" %}
                                <a class="hvr-underline-from-left" href="{% url 'app:start-entry' %}" style="font-weight:500;margin:1em 0 1em;color:#337ab7;padding: 1%;border: 1px solid #337ab7;">{% trans "Start Entry" %}</a>
                                {% else %}
                                <a class="hvr-underline-from-left" href="{% url 'app:registerUser' %}" style="font-weight:500;margin:1em 0 1em;color:#337ab7;padding: 1%;border: 1px solid #337ab7;">{% trans "Log In To Start Entry" %}</a>
                                {% endif %}
                            </div>
                            <div class="blog-sidebar" style="margin-top:3%;">
                                <div class="widget search-widget">
                                    <form>{% csrf_token %}
                                        <div>
                                            <input type="text" hx-post="{% url 'app:search-content-wall' %}" hx-target='#entry-htmx-results' hx-trigger="keyup changed delay:100ms" name="search" class="form-control" placeholder="Ex: How to...">
                                            <button style="pointer-events:none;" ><i class="ti-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            

                            <div class="comments-area" style="margin-top:30px;">
                                <div class="comments-section">
                                    <ol class="comments" id="entry-htmx-results" style="box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;">
                                        {% include 'tags/entry-list.html' %}
                                    </ol>
                                </div> <!-- end comments-section -->

                                {% comment %} <div class="comment-respond">
                                    <h3 class="comment-reply-title">Post Comments</h3>
                                    <form method="post" id="commentform" class="comment-form">
                                        <div class="form-textarea">
                                            <textarea id="comment" placeholder="Write Your Comments..."></textarea>
                                        </div>
                                        <div class="form-inputs">
                                            <input placeholder="Website" type="url">
                                            <input placeholder="Name" type="text">
                                            <input placeholder="Email" type="email">
                                        </div>
                                        <div class="form-submit">
                                            <input id="submit" value="Post Comment" type="submit">
                                        </div>
                                    </form>
                                </div> {% endcomment %}
                            </div> <!-- end comments-area -->
                        </div>
                    </div>
                    {% LeftSideTag %}
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end blog-single-section -->

        {% FooterTag %}

    </div>
    <!-- end of page-wrapper -->


</body>

{% endblock content %}