<style>
    form ul li{list-style:none;font-weight:200;}
    
    form p label{
        font-size: 25px;font-weight:200;
    }
    form .font-buyut{
        font-size: 20px;
    }
    
</style>

<title>Change Password | Migrate Wisely</title>
<body style="background:linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.3)
        ), url(https://migratewisely.com/media/blogs/bg.png);">
<div style="text-align:center;margin-top:8%;">
    <br>
    <br>
    <br>
    <h1 style="font-weight:200;font-size:50px;">Change Password</h1>
    <h2 style="font-weight:200;">No other user can see this page</h2>
    <br>

    <form method="post" style="font-family: 'Source Sans Pro', sans-serif;">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <a href="{% url 'app:homepage' %}" class="font-buyut" style="text-decoration:none;">Cancel</a><br><br>
        <button type="submit" class="font-buyut" style="padding: 0.7%;background: #F27843;color: white;border: white;">Submit</button>
    </form>
</div>
</body>

