<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 ...
 </head>
    <body>
        <div style="width:100%;text-align:center;">
            <p>Change Password</p><br><br>
            <p>Profile: &nbsp;&nbsp;{{profile.user}}</p>
            <a href="https://migratewisely.com/change-password/{{encrypted_id.ekey}}">Password Change Link</a>
        </div>
    </body>
</html>