<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 ...
 </head>
    <body>
        <div style="width:100%;text-align:center;">
            <p>E-Mail Changing Code</p><br><br>
            <p>Your code will be expired within 24 hours</p><br><br>
            <p>Profile: &nbsp;&nbsp;{{profile.user}}</p>
            <p>Code: &nbsp;&nbsp;{{encrypted_id.ekey}}</p>
        </div>
    </body>
</html>