{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}

{% if LANGUAGE_CODE == "es" %}
<!-- start of hero -->
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">Vea Sus Opciones!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">Complete el formulario y vea qué oportunidad de migración es la más adecuada para usted.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">Comienzo<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "fr" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">Voir Vos Options!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">Remplissez le formulaire et voyez quelle opportunité de migration vous convient le mieux.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">Commencer<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "tr" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">İmkanları Keşfet!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">Formu doldur ve hangi imkanlar sana en uygun hemen gör.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">Başla<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "hi" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">अपने विकल्प देखें!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">फ़ॉर्म भरें और देखें कि आपके लिए कौन सा माइग्रेशन अवसर सबसे उपयुक्त है.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">शुरू<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "vi" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">Xem các tùy chọn của bạn!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">Điền vào biểu mẫu và xem cơ hội di chuyển nào phù hợp nhất với bạn.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">Bắt đầu<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "ar" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">انظر خياراتك</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">املأ النموذج واطلع على فرصة الترحيل الأكثر ملاءمة لك</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">بداية<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "fa" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">گزینه های خود را ببینید</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">فرم را پر کنید و ببینید کدام فرصت مهاجرت برای شما مناسب است</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">شروع کنید<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif LANGUAGE_CODE == "ur" %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">اپنے اختیارات دیکھیں</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">فارم پُر کریں اور دیکھیں کہ آپ کے لیے کون سا ہجرت کا موقع سب سے موزوں ہے۔</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">شروع کریں۔<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="hero-slider hero-style-1 static-hero" style="background: url(/media/blogs/bg.png) center center/auto no-repeat local;">
    <div class="hero-container">
        <div class="hero-inner">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div data-swiper-parallax="300" class="slide-title">
                        <h2 style="color:black;font-size:3.5rem;font-weight:500;">See Your Options!</h2>
                    </div>
                    <div data-swiper-parallax="400" class="slide-text">
                        <p style="color:black;font-size:1.2rem;">Fill the form and see which migration opportunity is the most suitable for you.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div data-swiper-parallax="500" class="slide-btns">
                        <a href="#migration-opportunities" class="theme-btn">Start<span></span></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- end of hero slider -->