<style>
    form ul li{list-style:none;font-weight:200;}
    
    form label{
        font-size: 25px;font-weight:200;
		font-family: 'Source Sans Pro', sans-serif;
    }
    form .font-buyut{
        font-size: 20px;
    }
    
</style>

<body style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(https://migratewisely.com/media/blogs/bg.png);text-align:center;margin-top:8%;">

	<h3 style="font-weight:200;font-size:50px;">Enter new password</h3>

	<p style="font-weight:200;font-size:30px;">Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form method="post" style="font-family: 'Source Sans Pro', sans-serif;">

		{% csrf_token %}
		{{form}}
		<input type="Submit" name="Update Password">
		
	</form>

</body>